<div class="main_container" id="aboutMe">
    <div class="background_image">

    </div>
    <div class="components">
        <div class="Title">
            <p>About me</p>
        </div>
        <div class="Image_Description">
            <div class="Image">
                <img src="assets/images/myImages/MyImageBorder.jpg" alt="">
            </div>
            <div class="Description">
                <p>
                    <i class="fa-solid fa-angle-left"></i>
                    Hello, my name is Beqa. 
                    I am a beginner web developer and I want to better study and develop my work in this regard.
                    The most important thing for me is the responsibility towards
                    my work and the motivation that comes from my great love for this work.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Quod quaerat earum molestiae eligendi impedit fugiat dicta 
                    repudiandae consectetur optio doloremque eaque ipsum repellat quidem a
                     inventore minima, minus nesciunt omnis?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Quod quaerat earum molestiae 
                    eligendi impedit fugiat dicta repudiandae consectetur
                     optio doloremque eaque ipsum repellat quidem a inventore minima, 
                     minus nesciunt omnis?
                    <i class="fa-solid fa-angle-right"></i>
                </p>
                <div class="cv_button">
                    <a href="">Download CV</a>
                </div>
            </div>
        </div>
    </div>
</div>


