<!-- ]] about page main container -->
<div class="main_container" id="aboutMe">
    <!-- [ about page backgroun image -->
    <div class="background_image">

    </div>
    <!-- [ about page components -->
    <div class="components">
        <div class="Title" [class.TitleShow]="AboutMeScroll">
            <p>About me</p>
        </div>
        <div class="Image_Description">
            <!-- [ abaout page my image -->
            <div class="Image" [class.Animation]="AboutMeScroll">
                <img src="assets/images/myImages/MyImageBorder.jpg" alt="" >
            </div>
            <!-- [ about page description  -->
            <div class="Description" [class.Animation]="AboutMeScroll">
                <p>
                    <i class="fa-solid fa-angle-left"></i>
                    Hello, my name is Beqa. 
                    I am a beginner web developer and I want to better study and develop my work in this regard.
                    The most important thing for me is the responsibility towards
                    my work and the motivation that comes from my great love for this work.
                </p>
                <p>
                    I have enough knowledge to start working and contribute to the development of various projects.
                     It will be a big challenge for me, but I think I can handle all the tasks that will be required for the project.
                </p>
                <p>

                    It is also one of my priorities to have a good understanding of the work that I do
                    to focus on this work and to study it in depth in order to avoid the risks caused by
                     inattention to the work.
                    <i class="fa-solid fa-angle-right"></i>
                </p>
                <!-- [ about page cv download -->
                <div class="cv_button">
                    <a href="">Download CV</a>
                </div>
            </div>
        </div>
    </div>
</div>


