.main_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    .Title{
        border-bottom: 5px solid aqua;
        border-radius: 0px 10px;
        p{
            color: white;
            font-size: 50px;
            font-family: "Poetsen One", sans-serif;
        }
    }
    .card_container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        .card{
            width: 400px;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            animation-name: LeftAnimation;
            animation-duration: 0.3s;
            .image{
                img{
                    position: relative;
                    width: 400px;
                    height: 200px;
                    border-radius: 10px;
                    transition: 0.3s;
                }
            }
            .buttons_title{
                position: absolute;
                width: 400px;
                height: 200px;
                background-color: rgba(0, 0, 0, 0.568);
                border-radius: 10px;
                transform: translateY(-2px);
                transition: 0.3s;
                display: none;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;
                .title{
                    p{
                        color: aqua;
                        font-weight: bold;
                        font-size: 30px;
                    }
                }
                .buttons{
                    display: flex;
                    gap: 20px;
                    i{
                        color: white;
                        font-size: 30px;
                    }
                    i:hover{
                        color: aqua;
                    }
                }
            }
        }
        .card:hover{
            .image{
                img{
                    width: 410px;
                    height: 210px;
                }
            }
            .buttons_title{
                display: flex;
                width: 410px;
                height: 210px;
            }
        }
    }
    .viweMore_container{
        width: 80%;
        display: flex;
        justify-content: end;
        a{
            font-size: 25px;
            font-family: "Averia Sans Libre", sans-serif;
            color: white;
        }
        a:hover{
            color: aqua;
        }
    }
}

@keyframes LeftAnimation{
    from{
        transform: translateX(-1000px);
    }
    to{
        transform: translateX(0);
    }
}

@media screen and (max-width:450px){
    .main_container{
        .card_container{
            .card{
                width: 300px;
                height: 150px;
                .image{
                    img{
                        width: 300px;
                        height: 150px;
                    }
                }
            }
            .card:hover{
                .image{
                    img{
                        width: 310px;
                        height: 160px;
                    }
                }
                .buttons_title{
                    width: 310px;
                    height: 160px;
                }
            }
        }
    }
}