// || Colors
$backgroundColor: #191E21;
$fontColor:#E3D5BB ;
$additionColor: #af2523;

.main_container{
    width: 100%;
    height: auto;
    padding: 150px 0px 50px 0px;
    background-color: $backgroundColor;
    display: flex;
    justify-content: center;
    align-items: center;
    .websites{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
    }
}


@media screen and (max-width:830px){
    .main_container{
        padding-top: 150px;
        padding-bottom: 50px;
        height: auto;
    }
}