<nav>
    <div class="Logo">
        <a routerLink="" (click)="scrollFirstContent()">
            <div class="Logo_Text">
                <p>MY</p>
                <p>PORTFOLIO</p>
            </div>
        </a>     
    </div>
    <div class="Routes">
        <a (click)="scrollAboutMe()"><i class="fa-solid fa-angle-left"></i>ABOUT ME<i class="fa-solid fa-angle-right"></i></a>
        <a (click)="scrollMywebsites()"><i class="fa-solid fa-angle-left"></i>WEBSITES<i class="fa-solid fa-angle-right"></i></a>
        <a (click)="scrollStack()"><i class="fa-solid fa-angle-left"></i>STACK<i class="fa-solid fa-angle-right"></i></a>
        <a (click)="scrollContact()"><i class="fa-solid fa-angle-left"></i>CONTACT<i class="fa-solid fa-angle-right"></i></a>
    </div>
    <div class="BurgerMenu">
        <i class="fa-solid fa-bars" (click)="RespMenuOpen()"></i>
    </div>
</nav>
<div class="Responsive_Menu" [class.Responisve_MenuOpen]="ResponsiveMenuOpenClose">
    <div class="close">
        <p (click)="RespMenuClose()">x</p>
    </div>
    <div class="Routes">
        <a  (click)="RespMenuClose()"><i class="fa-solid fa-angle-left"></i>ABOUT ME<i class="fa-solid fa-angle-right"></i></a>
        <a href="#" pageScroll href="#MyWebsites" (click)="RespMenuClose()"><i class="fa-solid fa-angle-left"></i>MY WEBSITES<i class="fa-solid fa-angle-right"></i></a>
        <a href="#" pageScrool href="#stack_content"  (click)="RespMenuClose()"><i class="fa-solid fa-angle-left"></i>STACK<i class="fa-solid fa-angle-right"></i></a>
        <a href="#" pageScrool href="#contact_content"  (click)="RespMenuClose()"><i class="fa-solid fa-angle-left"></i>CONTACT<i class="fa-solid fa-angle-right"></i></a>
    </div>
</div>
<div class="firstContentScrollUp" [class.firstContentScrollUp_Active]="firstContentScroll">
    <a (click)="scrollFirstContent()"><i class="fa-solid fa-angles-up"></i></a>
</div>

