// || Colors
$backgroundColor: #191E21;
$fontColor:#E3D5BB ;
$additionColor: #af2523;

// || First Component Styles 
.main_container{
    width: 100%;
    height: 100dvh;
    background-color: $backgroundColor;
    display: flex;
    justify-content: center;
    gap: 100px;
    p{
        color: white;
    }
    .SocialMedia{
        width: 200px;
        height: 450px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        .line{
            background-color: white;
            width: 2px;
            height: 300px;
        }
        .SocialMediaIcons{
            display: flex;
            flex-direction: column;
            gap: 20px;
            i{
                color: white;
                font-size: 25px;
                cursor: pointer;
            }
            i:hover{
                color: aqua;
            }
        }
    }
    .Preview{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        animation-name: LeftAnimation;
        animation-duration: 0.3s;
        transition: 0.2s;
        .Title{
            display: flex;
            flex-direction: column;
            width: 730px;
            p{
                font-size: 80px;
                font-weight: bold;
                color: aqua;
            }
            p:nth-child(2){
                text-align: end;
                color: white;
            }
        }
        .Description{
            width: 740px;
            p{
                font-size: 50px;
                color: white;
            }
            p:nth-child(2){
                text-align: end;
            }
        }
        .Arrow{
            width: 100%;
            height: 200px;
            display: flex;
            justify-content: end;
            align-items: end;
            i{
                font-weight: bold;
                font-size: 100px;
                color: aqua;
                cursor: pointer;
            }
        }
    }
    .DeveloperImage{
        width: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        animation-name: RightAnimation;
        animation-duration: 0.3s;
        img{
            width: 500px;
            filter: blur(3px);
            border-radius: 100px;
            box-shadow: 0px 0px 50px 0px black;
        }
    }
}
@keyframes LeftAnimation{
    from{
        transform: translateX(-1000px);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes RightAnimation{
    from{
        transform: translateX(1000px);
    }
    to{
        transform: translateX(0);
    }
}


@media screen and (max-width:1765px){
    .main_container{
        .DeveloperImage{
            display: none;
        }
    }
}
@media screen and (max-width:1100px){
    .main_container{
        .SocialMedia{
            width: 100px;
        }
        .Preview{
            .Arrow{
                display: flex;
                justify-content: center;
            }
        }
    }
}
@media screen and (max-width:1000px){
    .main_container{
        height: 900px;
        .Preview{
            .Title{
                width: 450px;
                p{
                    font-size: 50px;
                }
            }
            .Description{
                width: 550px;
                p{
                    font-size: 35px;
                }
            }
        }
    }
}
@media screen and (max-width:800px){
    .main_container{
        .Preview{
            .Title{
                width: 300px;
                p{
                    font-size: 30px;
                }
            }
            .Description{
                width: 400px;
                p{
                    font-size: 25px;
                }
            }
            .Arrow{
                i{
                    font-size: 60px;
                }
            }
        }
    }
}
@media screen and (max-width:650px){
    .main_container{
        display: flex;
        flex-direction: column;
        .Preview{
            padding: 10px;
        }
    }
}
@media screen and (max-width:420px){
    .main_container{
        .Preview{
            .Title{
                width: 270px;
                p{
                    font-size: 25px;
                }
            }
            .Description{
                width: 300px;
                p{
                    font-size: 20px;
                }
            }
        }
    }
}

