<div class="main_container" id="firstContent">
    <div class="SocialMedia">
        <div class="line"></div>
        <div class="SocialMediaIcons">
            <a href="https://www.facebook.com/profile.php?id=100085681741454" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/b_xriku/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://github.com/xr11ku" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/beqa-khrikuli-8398b2286/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>
    <div class="Preview">
        <div class="Title">
            <p>{{ typedText }}</p>
            <p>{{typedTextDeveloper}}</p>
        </div>
        <div class="Description">
            <p>Make Unical Web Interface</p>
            <p>Witch big Functional</p>
        </div>
        <div class="Arrow">
            <i class="fa-solid fa-angles-down"></i>
        </div>
    </div>
    <div class="DeveloperImage">
        <img src="assets/images/backgrounds/Developer.jpg" alt="">
    </div>
</div>

