<div class="main_container">
    <div class="title">
        <p>Stack</p>
    </div>
    <div class="Skills">
        <div class="Skills_container">
            <div class="Description">
                <div class="Border_left">
                    <div class="border"></div>
                </div>
                <p>
                    <i class="fa-solid fa-angle-left"></i>
                    I share with you my skills at what level I know. I can work on both vanilla javascript and its frameworks.
                     Also my ability includes building a responsive website for different devices
                    <i class="fa-solid fa-angle-right"></i>
                </p>
                <div class="Border_Right">
                    <div class="border"></div>
                </div>
            </div>
                <app-stack-card
                *ngFor="let stack of stack"
                [stack]="stack"
                ></app-stack-card>
        </div>
    </div>
</div>
