<div class="main_container">
    <div class="title">
        <p>Contacts</p>
    </div>
    <div class="description_contact">
        <div class="description">
            <div class="text">
                <p>
                    <i class="fa-solid fa-angle-left"></i>
                    I am also interested in freelancing. You can order me to build different websites. For this, you can contact me on the specified social networks or by email
                    <i class="fa-solid fa-angle-right"></i>
                </p>
            </div>
            <div class="icons">
                <a href="https://www.linkedin.com/in/beqa-khrikuli-8398b2286/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/xr11ku"><i class="fa-brands fa-github" target="_blank"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100085681741454" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            </div>
        </div>
        <div class="contact">
            <div class="discord">
                <i class="fa-brands fa-discord"></i>
                <p>xriku</p>
            </div>
            <div class="email">
                <i class="fa-solid fa-envelope"></i>
                <p>{{email}}</p>
            </div>
        </div>
    </div>
</div>


