// || Colors
$backgroundColor: #191E21;
$fontColor:#E3D5BB ;
$additionColor: #af2523;

.main_container{
    width: 100%;
    height: 500px;
    background-color: $backgroundColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    .title{
        border-bottom: 5px solid aqua;
        border-radius: 0px 10px;
        p{
            font-size: 50px;
            font-family: "Poetsen One", sans-serif;
            color: white;
        }
    }
    .description_contact{
        display: flex;
        gap: 100px;
        .description{
            width: 600px;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            animation-name: LeftAnimation;
            animation-duration: 0.3s;
            .text{
                color: white;
                p{
                    font-family: "Averia Sans Libre", sans-serif;
                    i{
                        color: aqua;
                    }
                }
            }
            .icons{
                display: flex;
                gap: 25px;
                i{
                    font-size: 25px;
                    color: white;
                    transition: 0.3s;
                }
                i:hover{
                    color: aqua;
                    transform: translateY(-5px);
                }
            }
        }
        .contact{
            width: 500px;
            height: 200px;
            border: 2px solid aqua;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            animation-name: RightAnimation;
            animation-duration: 0.3s;
            .discord , .email{
                width: 400px;
                display: flex;
                gap: 30px;
                justify-content: start;
                align-items: center;
                i{
                    color: white;
                    font-size: 30px;
                }
                p{
                    color: white;
                    font-size: 30px;
                }
            }
        }
    }
}

@keyframes LeftAnimation{
    from{
        transform: translateX(-1000px);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes RightAnimation{
    from{
        transform: translateX(1000px);
    }
    to{
        transform: translateX(0);
    }
}

@media screen and (max-width:1260px){
    .main_container{
        height: 900px;
        .description_contact{
            align-items: center;
            flex-direction: column-reverse;
        }
    }
}
@media screen and (max-width:620px){
    .main_container{
        height: 900px;
        .description_contact{
            .description{
                width: 400px;
            }
            .contact{
                width: 400px;
                .discord ,.email {
                    width: 300px;
                    p{
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:445px){
    .main_container{
        .description_contact{
            .description{
                width: 300px;
            }
            .contact{
                width: 300px;
                .discord , .email{
                    width: 250px;
                    i{
                        font-size: 25px;   
                    }
                }
            }
        }
    }
}


