.main_container{
    width: 300px;
    height: 300px;
    border: 3px solid white;
    border-radius: 10px;
    cursor: pointer;
    .title{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        padding-left: 20px;
        p{
            font-size: 30px;
            font-weight: bold;
            color: aqua;
        }
    }
    .EducationProcents{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .boxs{
            img{
                width: 150px;
                filter: contrast(0.5);
                transition: 0.5s;
            }
        }
        .boxs2{
            display: flex;
            gap: 10px;
            img{
                width: 120px;
                filter: contrast(0.5);
                transition: 0.5s;
            }
        }
    }
}
.main_container:hover{
    border-color: aqua;
    .title{
        p{
            color: white;
        }
    }
    .EducationProcents{
        .boxs{
            img{
                filter: none;
            }
        }
        .boxs2{
            img{
                filter: none;
            }
        }
    }
}
@media screen and (max-width:1318px){
    .main_container{
        .title{
            width: 80%;
        }
    }
}