<div class="main_container">
    <div class="title">
        <p>{{stack.title}}</p>
    </div>
    <div class="EducationProcents">
        <div class="boxs">
            <div class="box" [class.boxsFortin]="Fortin" [class.boxsFifty]="Fifty" [class.boxsSeventin]="Seventin" [class.boxsEitin]="Eitin"></div>
            <div class="box" [class.boxsFortin]="Fortin" [class.boxsFifty]="Fifty" [class.boxsSeventin]="Seventin" [class.boxsEitin]="Eitin"></div>
            <div class="box" [class.boxsFortin]="Fortin" [class.boxsFifty]="Fifty" [class.boxsSeventin]="Seventin" [class.boxsEitin]="Eitin"></div>
            <div class="box" [class.boxsFortin]="Fortin" [class.boxsFifty]="Fifty" [class.boxsSeventin]="Seventin" [class.boxsEitin]="Eitin"></div>
            <div class="box" [class.boxsFortin]="Fortin" [class.boxsFifty]="Fifty" [class.boxsSeventin]="Seventin" [class.boxsEitin]="Eitin"></div>
            <div class="box" [class.boxsFortin]="Fortin" [class.boxsFifty]="Fifty" [class.boxsSeventin]="Seventin" [class.boxsEitin]="Eitin"></div>
            <div class="box" [class.boxsFortin]="Fortin" [class.boxsFifty]="Fifty" [class.boxsSeventin]="Seventin" [class.boxsEitin]="Eitin"></div>
            <div class="box" [class.boxsFortin]="Fortin" [class.boxsFifty]="Fifty" [class.boxsSeventin]="Seventin" [class.boxsEitin]="Eitin"></div>
            <div class="box" [class.boxsFortin]="Fortin" [class.boxsFifty]="Fifty" [class.boxsSeventin]="Seventin" [class.boxsEitin]="Eitin"></div>
            <div class="box" [class.boxsFortin]="Fortin" [class.boxsFifty]="Fifty" [class.boxsSeventin]="Seventin" [class.boxsEitin]="Eitin"></div>
        </div>
        <div class="procent">
            <p>{{stack.procent}}%</p>
        </div>
    </div>
</div>

